@font-face {
  font-family: "Geometria bold";
  src: url("fonts/geometria_bold.otf");
}

@font-face {
  font-family: "Geometria medium";
  src: url("fonts/geometria_medium.otf");
}

@font-face {
  font-family: "Geometria";
  src: url("fonts/geometria_light.otf");
}
